@model WebApp.Models.Birth

<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-6">
            <h2>Wynik</h2>
            <p>@ViewBag.Message</p>
        </div>
    </div>
</div>